---
layout: default
---

  <div class="section no-pad-bot" id="index-banner"></div>
  
  
  <div class="section">
      <div class="row">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
      
      <h6> </h6>
      <div class="carousel carousel-slider responsive-img" style="height:500px">
      <div class="carousel-fixed-item with-indicators"></div>
      
        <a class="carousel-item active" style="width:90%" href="#one!">
          <h5 class="scho-text text-coral">>>High intensity laser design</h5>
          <img src="images/fig1.jpg" alt="" ></a>
        <a class="carousel-item" href="#two!" style="width:90%">
          <h5 class="scho-text text-coral">>>Thermal effects in Ti:sapphire</h5>
          <img src="images/fig2.jpg" alt="" class="responsive-img center" ></a>
        <a class="carousel-item" style="width:90%" href="#three!">
          <h5 class="scho-text text-coral">>>Laser amplifier design</h5>
          <img src="images/fig4.jpg" alt="" class="responsive-img" ></a>
        <h6> </h6>
        
       </div>
      </div>
      <h6> </h6>
      
    </div>
    </div>
  </div>
  
      
<!--     <div class="container last-post"> -->
<!--     <section> -->
<!--         <h5 class="header center">Stack</h5> -->
<!--         <ul> -->
<!--           {% for category in site.categories %} -->
<!--             {% if category[0]=="junk" %} -->
<!--             <h3>{{ category[0] }}</h3> -->
<!--              -->
<!--             <ul> -->
<!--               {% for post in category[1] %} -->
<!--                 <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->
<!--               {% endfor %} -->
<!--               {% endif %} -->
<!--             </ul> -->
<!--           {% endfor %} -->
<!--  -->
<!--         </ul> -->
<!--             -->
<!--     </section> -->
<!--     </div> -->
<!--      -->
<!--     <div class="container last-post"> -->
<!--         <section> -->
<!--             <h5>News Stack</h5> -->
<!--             <ul class="collection"> -->
<!--             {% for post in site.posts %} -->
<!--             <li class="collection-item"> -->
<!--               {% assign date_format = site.minima.date_format | default: "[%m/%d, %Y]" %} -->
<!--               <span class="title"> {{ post.date | date: date_format }}</span> -->
<!--               <span class="title scho-text">{{ post.title | escape }}</span> -->
<!--             </li> -->
<!--             {% endfor %} -->
<!--             </ul>   -->
<!--         </section> -->
<!--     </div> -->
<!-- </div> -->